@import url("./components/container.css");
@import url("./components/avatar.css");
@import url("./components/button.css");
@import url("./components/banner.css");
@import url("./components/card.css");


body {
	font-family: ğ„ğ±ğğ¦ğ©ğ¥ğ ğğ ğ­ğğ±ğ­ğ, serif;
	font-size: 18px;
	color: dark;
	margin: 0px;
	text-align: center;
}

h1, h2, h3 {
	font-family: ğ™´ğš¡ğšğš–ğš™ğš•ğš ğšğš ğšğšğš¡ğšğš, serif;
	font-weight:bold;
	color: darkgreen;
	text-align: center;
}

a { 
  text-decoration: none; 
 }


.inline-image {
  display: inline-block;
  margin: 5px; 
  width: 150px; 
  height: auto;
  border-radius: 10px;
}

.project-container {
	text-align: justify; 
    max-width: 600px; 
    padding: 20px;
    background-color: white;
}

.project-description {
  font-size: 1em;
  color: #555; 
  line-height: 1.6; 
}